.ti{
    font-family: "Honk", system-ui;
    font-size: 200px;
    margin: 0;
    border: 0px;
    padding: 0;
    text-align: center;
}
.enlace{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: blue;
}
a:hover{
    color: white;
}
.sub-titulos{
    font-family: "Honk", system-ui;
    color: black;
}
.texto{
    background-color:aquamarine;
    text-align: justify;
    font-family: "Oswald", sans-serif;
    margin: 20px 10px;
    padding: 20px 30px;
}
.imagenes{
    border-radius: 50%;
    width: 200px;
    height: 150px;
}
.logo-redes img {
    width: 50px; /* Ajusta este valor según tus necesidades */
    height: auto; /* Mantener la proporción de aspecto */
}
footer{
    font-family: "Oswald", sans-serif;
    color: white;
}
body{
    margin: 20px;
    padding: 0;
    background-image: linear-gradient(orange,purple);
}
.contenedor-imagen{
    display: flex;
}
.textos{
    display: flex;
    
}
