.ti{
    font-family: "Honk", system-ui;
    font-size: 200px;
    margin: 0;
    border: 0px;
    padding: 0;
    text-align: center;
}
.enlace{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}
a:hover{
    color:darkkhaki;
}
.sub-titulos{
    font-family: "Honk", system-ui;
    color: black;
}
.texto{
    flex: 1;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 10px;
    padding: 20px;
    background-color: aquamarine;
    box-sizing: content-box;
    max-height: 350px; /* Ajusta según sea necesario */
    border-style: dashed;
}
.imagenes{
    border-radius: 50%;
    width: 200px;
    height: 150px;
    border-style: groove;
}
.logo-redes img {
    width: 50px; /* Ajusta este valor según tus necesidades */
    height: auto; /* Mantener la proporción de aspecto */
}
footer{
    font-family: "Oswald", sans-serif;
    color: white;
}
body{
    margin: 20px;
    padding: 0;
    background-image: linear-gradient(orange,purple);
}
.contenedor-imagen{
    display: flex;
}
.textos{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
table{
    color: black;
    background-color: aquamarine;
}
.tabla{
    display: flex;
    justify-content: center;
}
.vidio{
    display: flex;
    justify-content: center;
    height: 500px;
    width: auto;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
.logo-inicio{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-top: 83px;
}
.porta{
    display: flex;
    justify-content: center;
}
video{
    border-style: double;
}
.tiitle{
    background-color: blueviolet;
    justify-content: center;
    display: flex;
    border-style: groove;
    padding: 0px;
    border-width: 10px;
    margin: 0px;
}
.enlace.content{
    margin: 50%;
}