.ti{
    font-family: "Honk", system-ui;
    font-size: 200px;
    margin: 0;
    border: 0px;
    padding: 0;
    text-align: justify;
}
.enlace{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}
a:hover{
    color: purple;
}
.sub-titulos{
    font-family: "Honk", system-ui;
    color: black;
}
.texto{
    flex: 1;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 10px;
    padding: 20px;
    background-color: aquamarine;
    box-sizing: content-box;
    max-height: 350px; /* Ajusta según sea necesario */
    
}
.imagenes{
    border-radius: 50%;
    width: 200px;
    height: 150px;
}
.logo-redes img {
    width: 50px; /* Ajusta este valor según tus necesidades */
    height: auto; /* Mantener la proporción de aspecto */
}
footer{
    font-family: "Oswald", sans-serif;
    color: white;
}
body{
    margin: 20px;
    padding: 0;
    background-image: linear-gradient(orange,purple);
}
.contenedor-imagen{
    display: flex;
}
.textos{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
table{
    color: aliceblue;
    background-color: black;
}
.tabla{
    display: flex;
    justify-content: center;
}
.vidio{
    display: flex;
    justify-content: center;
    height: 500px;
    width: auto;
    
}
